HINDSIGHT_API_LLM_API_KEY=
HINDSIGHT_API_DATABASE_URL=postgresql://harry@localhost:5432/hindsight

HINDSIGHT_API_LLM_BASE_URL=https://ollama.com/v1
HINDSIGHT_API_LLM_PROVIDER=openai
HINDSIGHT_API_LLM_MODEL=gemini-3-flash-preview
HINDSIGHT_API_LLM_TIMEOUT=120
HINDSIGHT_API_LLM_MAX_RETRIES=5
HINDSIGHT_API_LLM_MAX_CONCURRENT=3
HINDSIGHT_API_WORKER_MAX_SLOTS=6
HINDSIGHT_API_WORKER_CONSOLIDATION_MAX_SLOTS=3
HINDSIGHT_API_TEXT_SEARCH_EXTENSION=vchord
HINDSIGHT_API_EMBEDDINGS_LOCAL_MODEL=BAAI/bge-m3
HINDSIGHT_API_RERANKER_LOCAL_MODEL=bongsoo/albert-small-kor-cross-encoder-v1
HINDSIGHT_API_LOG_LEVEL=debug
